.mission-container {

    color: rgb(99, 99, 99);

    h1 {
        text-align: center;
        margin: 0 auto;
        padding: 20px;
        border-bottom: 1px solid rgb(99, 99, 99);
        width: 60%;
    }

    p {
        padding: 20px 20px;
        line-height: 30px;
    }

    iframe {
        margin: 20px 0;
    }
}