
* {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

@import './home';
@import './header';
@import './footer';
@import './mission';

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');